@page "/announcement"

@using Stable_Frontend.Data
@using Stable_Lib.Handlers
@inject WeatherForecastService ForecastService
@inject FirestoreHandler Handler
@inject NavigationManager NavManager

<body>
    <div class="navbar navbar-lgiht bg-light">
        <div class="navbar-brand mb-0">
            <h2>Announcements</h2>
            
        </div>
    </div>
    <div class="row" id="column-container">
        <div class="col-4" id="category-column">
            <h6 class="font-weight-bold" style="margin:10px 0">Categories</h6>
            <table>
                <tr>
                    <th><input type="checkbox" id="arts" value="arts_val" /></th>
                    <th>College of Arts Humanities Social Sciences</th>
                </tr>
                <tr>
                    <th><input type="checkbox" id="business" value="business_val" /></th>
                    <th>College of Business</th>
                </tr>
                <tr>
                    <th><input type="checkbox" id="education" value="education_val" /></th>
                    <th>College of Education</th>
                </tr>
                <tr>
                    <th><input type="checkbox" id="engineering" value="engineering_val" /></th>
                    <th>College of Engineering</th>
                </tr>
                <tr>
                    <th><input type="checkbox" id="nursing" value="nursing_val" /></th>
                    <th>College of Nursing</th>
                </tr>
                <tr>
                    <th><input type="checkbox" id="science" value="science_val" /></th>
                    <th>College of Science</th>
                </tr>
                <tr>
                    <th><input type="checkbox" id="honors" value="honors_val" /></th>
                    <th>Honors College</th>
                </tr>
            </table>
        </div>
        <div class="col-8" id="table-column">
            <div style="overflow: auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Last Modified</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var resultsKey in Results.Keys)
                        {
                            <tr>
                                <a href="/post/@resultsKey"><td>@Results[resultsKey].Title</td></a>
                                <td>@Results[resultsKey].LastModified.ToLocalTime().ToString("f")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="edit-button-container">
                <button class="btn-primary" id="add_post" @onclick="AddPost">Add Announcement</button>
            </div>
        </div>
    </div>
</body>
