@page "/announcement"

@using Stable_Frontend.Data
@using Stable_Lib.Handlers
@inject FirestoreHandler Handler
@inject NavigationManager NavManager

<body>
    <div class="navbar navbar-light bg-light">
        <div class="navbar-brand mb-0">
            <h2>Announcements</h2>
            
        </div>
    </div>
    <div class="row" id="column-container">
        <div class="col-3" id="category-column">
            <h5 class="font-weight-bold" style="margin:10px 0px; color:blue;">Categories</h5>
            <table>
                <tr>
                    <th><input type="checkbox" id="all" value="all_val" @onchange="CheckAll"  /></th>
                    <th>Select All</th>
                </tr>
                <tr>
                    <th><input type="checkbox" id="general" value="general_val" @bind="Checked[10]"/></th>
                    <th>General</th>
                </tr>
                <tr><!-- Add a Space --></tr>
                <tr>
                    <th></th>
                    <th style="font-size:18px; color:deepskyblue;">Colleges </th>
                </tr>
                <tr>
                    <th><input type="checkbox" id="arts" value="arts_val" @bind="Checked[0]" /></th>
                    <th>College of Arts Humanities Social Sciences</th>
                </tr>
                <tr>
                    <th><input type="checkbox" id="business" value="business_val" @bind="Checked[1]" /></th>
                    <th>College of Business</th>
                </tr>
                <tr>
                    <th><input type="checkbox" id="education" value="education_val" @bind="Checked[2]" /></th>
                    <th>College of Education</th>
                </tr>
                <tr>
                    <th><input type="checkbox" id="engineering" value="engineering_val" @bind="Checked[3]" /></th>
                    <th>College of Engineering</th>
                </tr>
                <tr>
                    <th><input type="checkbox" id="nursing" value="nursing_val" @bind="Checked[4]" /></th>
                    <th>College of Nursing</th>
                </tr>
                <tr>
                    <th><input type="checkbox" id="science" value="science_val" @bind="Checked[5]" /></th>
                    <th>College of Science</th>
                </tr>
                <tr>
                    <th><input type="checkbox" id="honors" value="honors_val" @bind="Checked[6]" /></th>
                    <th>Honors College</th>
                </tr>
                <tr><!-- Add a Space --></tr>
                <tr>
                    <th></th>
                    <th style="font-size:18px; color:deepskyblue;">Clubs</th>
                </tr>
                <tr>
                    <th><input type="checkbox" id="ACM" value="acm_val" @bind="Checked[7]" /></th>
                    <th>ACM</th>
                </tr>
                <tr>
                    <th><input type="checkbox" id="Space Hardware" value="spacehardware_val" @bind="Checked[8]" /></th>
                    <th>Space Hardware</th>
                </tr>
                <tr>
                    <th><input type="checkbox" id="Esports" value="esports_val" @bind="Checked[9]" /></th>
                    <th>Esports</th>
                </tr>
                <tr><th></th><!-- Add a Space --><th></th></tr>
                <tr>
                    <th></th>
                    <th style="font-size:18px; color:deepskyblue;">Communities</th>
                </tr>

            </table>
            <br/>
            <button class="btn btn-primary" @onclick="Sort">Filter</button>
        </div>
        <div class="col-8" id="table-column">
            <div style="overflow: auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">College</th>
                            <th scope="col">Title</th>
                            <th scope="col">Last Modified</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var resultsKey in Results.Keys)
                        {
                            <tr>
                                <td>@foreach (var c in Results[resultsKey].College) {
                                        @(c.Substring(0, 2) + ' ')
                                    }</td>
                                <a href="/post/@resultsKey"><td>@Results[resultsKey].Title</td></a>
                                <td>@Results[resultsKey].LastModified.ToLocalTime().ToString("f")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="edit-button-container">
                <button class="btn-primary" id="add_post" @onclick="AddPost">Add Announcement</button>
            </div>
        </div>
    </div>
</body>
