@page "/announcementeditor"
@using Stable_Lib.Handlers
@inject IJSRuntime JSRuntime
@inject FirestoreHandler Handler
@inject NavigationManager NavigationManager

@if (EditorEnabled)
{

    <div>
        @EditorContent
    </div>
    <div>
        @((MarkupString)@EditorHTMLContent)
    </div>


    <h1>New Post</h1>
    <form>
        <div class="form-group">
            <label for="titleInput">Title</label>
            <input @bind="Title" type="text" class="form-control" id="titleInput" placeholder="Enter title">
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="customCheck0" @bind="Colleges[0]">
                <label class="custom-control-label" for="customCheck0">AHSS</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="customCheck1" @bind="Colleges[1]">
                <label class="custom-control-label" for="customCheck1">Business</label>
            </div>
            
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="customCheck2" @bind="Colleges[2]">
                <label class="custom-control-label" for="customCheck2">Education</label>
            </div>
            
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="customCheck3" @bind="Colleges[3]">
                <label class="custom-control-label" for="customCheck3">Engineering</label>
            </div>
            
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="customCheck4" @bind="Colleges[4]">
                <label class="custom-control-label" for="customCheck4">Nursing</label>
            </div>
            
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="customCheck5" @bind="Colleges[5]">
                <label class="custom-control-label" for="customCheck5">Science</label>
            </div>
            
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="customCheck6" @bind="Colleges[6]">
                <label class="custom-control-label" for="customCheck6">Honors</label>
            </div>
            
        </div>
        <div class="form-group">
            <div id="toolbar">
                <span class="ql-formats">
                    <select class="ql-font">
                        <option selected=""></option>
                        <option value="serif"></option>
                        <option value="monospace"></option>
                    </select>
                    <select class="ql-size">
                        <option value="small"></option>
                        <option selected=""></option>
                        <option value="large"></option>
                        <option value="huge"></option>
                    </select>
                </span>
                <span class="ql-formats">
                    <button class="ql-bold"></button>
                    <button class="ql-italic"></button>
                    <button class="ql-underline"></button>
                    <button class="ql-strike"></button>
                </span>
                <span class="ql-formats">
                    <select class="ql-color"></select>
                    <select class="ql-background"></select>
                </span>
                <span class="ql-formats">
                    <button class="ql-list" value="ordered"></button>
                    <button class="ql-list" value="bullet"></button>
                    <button class="ql-indent" value="-1"></button>
                    <button class="ql-indent" value="+1"></button>
                    <select class="ql-align">
                        <option selected=""></option>
                        <option value="center"></option>
                        <option value="right"></option>
                        <option value="justify"></option>
                    </select>
                </span>
                <span class="ql-formats">
                    <button class="ql-link"></button>
                </span>
            </div>
            <div @ref="@divEditorElement" />
        </div>
    </form>
    <button class="btn btn-primary" @onclick="SubmitContents">Submit</button>
   
}


@* <br /> *@
@* <button class="btn btn-primary" @onclick="GetText">Get Text</button> *@
@* <button class="btn btn-primary" @onclick="GetHTML">Get HTML</button> *@
@* <button class="btn btn-primary" @onclick="GetEditorContent">Get Content</button> *@
@* <br /> *@

<p></p>

