@page "/"
@attribute [Authorize]

<div href="announcement"></div>
<div class="p-4">
    <div class="container">
        <h1 class="display-4" style = "font-family:courier,arial,helvetica;">Welcome to the UAH Stable!</h1>
        <img src="https://www.uah.edu/images/admissions/undergraduate/swag/computer/computer-ChargerHead.jpg" class="img-fluid rounded" alt="Responsive image" />
    </div>
</div>