@page "/petitionpost/{Id}"
@using Stable_Lib.Handlers
@inject FirestoreHandler Handler
<!-- This page will be an individual page for announcements-->

<div class="navbar navbar-lgiht bg-light">
    <div class="navbar-brand mb-0">
        <h2>Petition</h2>
    </div>
</div>
<div>
    <div style="margin:3%" id="Post Contents">
        <div class="alert alert-light mt-4" role="alert">
            <h2>@Petition.Title</h2>                 <!-- This portion is for the announcement title-->
            <p style="margin:0px;padding:0px; font-size:9pt">Edited by @AuthorName | @Petition.Created.ToLocalTime()</p>
            <hr style="margin:0px 0px 5px 0px ">

            <span class="text-nowrap">
                @((MarkupString)Petition.Body)       <!-- This portion is for the announcement contents -->
            </span>
        </div>
    </div>
</div>