# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.UAH Stable.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\benar\workspace\C#\UAH Stable\.idea\.idea.UAH Stable\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
