@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <button class="btn btn-primary" @onclick="Login">Login</button>
        <button class="btn btn-secondary" @onclick="Register">Register</button>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{

    private void Login()
    {
        NavigationManager.NavigateTo("announcement");
    }

    private void Register()
    {
        NavigationManager.NavigateTo("announcement");
    }
}