@using Stable_Lib.Handlers
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject FirestoreHandler Handler

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="top-row px-4">
        
        <button style="margin:0px 10px" class="btn btn-primary" @onclick="Login" hidden="@Handler.LoggedIn">Login</button>
        <button style="margin:0px 10px" class="btn btn-secondary" @onclick="Register" hidden="@Handler.LoggedIn">Register</button>
        <div hidden="@Handler.LoggedIn.Equals(false)">@Handler.user.Name</div>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>

@code
{

    private void Login()
    {
        NavigationManager.NavigateTo("login");
    }

    private void Register()
    {
        NavigationManager.NavigateTo("register");
    }
}