@using Stable_Lib.Handlers
@inject FirestoreHandler Handler

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/">UAH Stable</a>
    @* <button class="navbar-toggler" @onclick="ToggleNavMenu"> *@
    @*     <span class="navbar-toggler-icon"></span> *@
    @* </button> *@
</div>

<div hidden="@Handler.LoggedIn.Equals(false)" >
    <ul class="nav flex-column" >

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="announcement" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Announcements
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="petition">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Petition
            </NavLink>

        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="project">
                <span class="oi oi-pencil" aria-hidden="true"></span> Projects
            </NavLink>
        </li>
    </ul>
</div>

@code {
    // private bool collapseNavMenu = true;
    //
    // private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    //
    // private void ToggleNavMenu()
    // {
    //     collapseNavMenu = !collapseNavMenu;
    // }
}
